.restaurant_card {
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  width: 100%;
  max-width: 304px;
}

.restaurant_card:hover {
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.12);
  text-decoration: none;
}
.restaurant_image_container {
  position: relative;
}
.restaurant_image {
  border-radius: 8px;
}

.restaurant_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 8px;
  gap: 16px;
  width: 100%;
}
.restaurant_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 0px 0px;
  gap: 6px;
  line-height: 22px;
}

.restaurant_name {
  font-weight: 600;
}

.restaurant_rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;
}

.restaurant_rating_number {
  font-weight: 600;
}

.restaurant_reviews {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 4px;
}
