.main_body{

}

.title{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
}

.city_name{
font-weight: 600;
font-size: 30px;
line-height: 40px;
color: #000000;

}


//Cities container and cards/////////////////////////////////////////////////////////////

@keyframes collapse {
    from {height:100%;opacity:1}
    to {height: 0px;opacity:0}
  }

.cities_section_collapsed{
    // height: 0px;
    // opacity: 0;
    // animation: collapse 0.2s ;
    display: none;
}

@keyframes expand {
    from {height:0px;opacity:0}
    to {height: 100%;opacity:1}
  }

.cities_section{
    // height: 100%;
    // opacity: 1;
    // animation: expand 0.4s ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




//Restaurants container and cards

.restaurant_section{
    /* Auto layout */

}

.restaurant_section_title{
font-weight: 600;
font-size: 30px;
color: #000000;
margin-top: 2rem;
margin-bottom: 1rem;
}

.restaurant_content_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    justify-items: center;
}

@media screen and (max-width: 768px) {
     
    .restaurant_content_section{
        grid-template-columns: 1fr;

    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .restaurant_content_section {
        grid-template-columns: 1fr 1fr;
    }
   
  }

