//Header and button
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title{
    
  
}
.toggle_button_collapsed{
    flex-direction: row;
    padding: 0;
border: none;
background: none;
> p{
    display: inline;
    
}
> svg{
    transform: rotateX(180deg);
}
 
}

.toggle_button{
    flex-direction: row;
    padding: 0;
    border: none;
    background: none;
    > p{
    display: inline;
    }
   
}


//Cities container and cards

.cities_container_hidden{
    display: none;
}

.cities_container{

    
}

.city_card{
position: relative;
width: 90%;
height: 30vh;
border-radius: 8px;
margin-top: 2rem;
text-align: center;
color: white;
}
.city_image{
    border-radius: 8px;   
}

.image_gradient{
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 8px;
width: 100%;
height: 100%;
z-index: 1;

}
.card_title{
    position: absolute;
    font-weight: 400;
    top: 85%;
    left: 5%;
    z-index: 2;

}

//Restaurants container and cards

.restaurant_card{

    height: 30vh;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    width: 327px;
 

    }

    .image_container{
    position: relative;
    width: 100%;
    height: 50%;
    border-radius: 8px;
    }

    .restaurant_image{
        border-radius: 8px;
    }

    .restaurant_content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px 0px 8px;
        gap: 16px;
    }
    .restaurant_info{
        font-family: 'RalewayX Light';
font-size: 16px;
line-height: 22px;
color: #272A2F;
width: 239px;

    }

    .restaurant_rating{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0px;
        gap: 8px;
    }

    .restaurant_reviews{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 4px;
    }

    .restaurant_button{
        display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 12px;
gap: 8px;
width: 311px;
height: 36px;
background: #589442;
border-radius: 2px;
border: none;

font-family: 'RalewayX';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
    }